name: Spell Check

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  spellcheck:
    name: Spell Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Spell Check
        uses: streetsidesoftware/cspell-action@v8
        with:
          files: "**/*.{md,sh,yml,yaml}"
          config: ".cspell.json"
          fail_on_error: true

